.container-popproductdetails{
    height: 100%;
    padding: 50px 0px 0px 15px;
      
    .close-icon{
        margin-right: 10px;
        text-align: right;
        width: 11px;
        height: 11px;
        img { 
            width: 18px;
            height: 18px;
        }
    }
    .title-popproductdetails{
        margin: auto;
        font-size: 33px;
        font-weight: 700;
        line-height: 40px;
        text-align: center;
        margin-right: 115px;
        margin-bottom: 10px;
    }
    .title-height-popproductdetails{
        margin-top: -10px;
        line-height: 40px;
    }
    .sub-title-popproductdetails{
        font-size: 15px;
        font-weight: 400;
        line-height: 23px;
        text-align: center;
        margin-bottom: -24px;
    }
    .title-content-popproductdetails {
        font-size: 15px;
        line-height: 23px;
        text-align: left;
        margin-bottom: 15px;
      }
      .title-selection-popproductdetails{
        font-size: 19px;
        font-weight: 600;
        line-height: 23px;
        text-align: left;
        margin-bottom: 16px;
        .ant-radio-wrapper span{
            font-size: 17px !important;
            color: #000000;
            font-weight: 500;
        }
        .ant-radio-wrapper{
            width: 95px !important;
        }
        .ant-select-arrow{
            color: red;
        }
      }
}
.ant-modal-footer div{
    display: none;

    .button-popproductdetails{
        // background-color: red;
        text-align: right;
        margin-right: 10px;
        margin-top: 100px;
    }
}

.ant-modal-footer{
    margin-top: 30px;
    height: 80px !important;
    background-color: #F2F2F2;
    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 34px;
}
.ant-modal-content {
    border-radius: 34px;
}
.ant-modal{
    margin-top: 100px !important;
  }

.ant-empty{
    display: none;
  }